data/
code/tout_balsac.csv
*.csv
*.txt
*.csv
*.bed
*.tsz
*.ts
*.DS_Store
*.ipynb_checkpoints
*.RData
*.Rhistory
*/__pycache__/
code/.DS_Store
code/Rplots.pdf
code/.DS_Store
code/sample_pedigree_founder_depths.jpg
code/rejected_code_founder_depth.r
